/*모바일 미디어 쿼리*/


@media screen and (max-width: 900px) {
    
    html{
        overflow-x: hidden;
        overflow-y:auto;

    }

    body{
        overflow-x: hidden;
        overflow-y:auto;

        }


    a.logo{
        font-size: 15px;
        margin-right: -30px;
    }

    h1.about-hedding{
        margin-left: -0.5rem;
        font-size: 25px;        
    }


div.about{
    display: block;
    height: 100%;
    width: auto;
    margin: 0 auto;
    text-align: left;
    margin-left: 2rem;
    margin-top: 4rem;
    margin-right: 2rem;
    margin-bottom: 4rem;
    background-color: #fff; 
    font-size:16px;
}
    
    
    
   h1.about-hedding{
   margin-left: 2rem;
   margin-top: 2rem;
   margin-bottom: -2rem;

}



h1.about-hedding.about-hedding2{
    margin-top: -1rem;
}

div.about.about2{
    margin-bottom: 6rem;
}




    nav{
        width: 250px;

    }


    div.container-main{
        height: 30rem;
    }


    a#menu-about{
        font-size: 15px;
        margin-right: -5px;

    }

    a#menu-skill{
        font-size: 15px;
        margin-right: -5px;

    }

    a#menu-career{
        font-size: 15px;
        margin-right: -5px;

    }


    a#menu-contact{
        font-size: 15px;
        margin-right: -5px;

    }

    
    h2{
        font-size: 20px;
    }

    
    h3.foot-text{



        background-color: #000;
        color: #9A9A9A;
        font-family: Gothic, "Malgun Gothic", serif;
        font-style: oblique;
        font-size: 7px;
        padding-top: 0.5rem;
        text-align: center;
        display: block;
        margin: 0;

    }


    
div.foot-area{
    background-color: #000;
    height: 2rem;
    align-content: center;

}
    

}

