

@media screen and (max-width: 768px) {
    a.logo{
        font-size: 15px;
    }
    
    h1.hedding{
        margin-left: -3rem;
        font-size: 20px;

        
    }

    section.about.section{
margin-left: -3rem;
    margin-top:-1rem;
        margin-right: 3rem;
    
    
    
}
       
    
    
    div.container-main{
    height: 30rem;
    }
    
    
    a#menu-about{
        font-size: 15px;
    }
    
     a#menu-skill{
        font-size: 15px;
    }
     a#menu-career{
        font-size: 15px;
    }
     a#menu-contact{
        font-size: 15px;
    }
    
    h2{
        font-size: 20px;
    }
    
    

}

