

@media screen and (max-width: 900px) {
    
    html{
         overflow-x: hidden;
    overflow-y:auto;
        
    }
    
    body{
         overflow-x: hidden;
    overflow-y:auto;
        
    }
    
    header{
         overflow-x: hidden;
 
        
    }
    
    a.logo{
        font-size: 15px;
        margin-right: -30px;
    }
    
    h1.hedding{
        margin-left: -3rem;
        margin-right: -2rem;
        font-size: 20px;

        
    }

    section.about.section{
margin-left: -3rem;
    margin-top:-1rem;
        margin-right: 3rem;
    
    
    
}
       
    
    nav{
        width: 250px;
 
    }
    
    
    div.container-main{
    height: 30rem;
    }
    
    
    a#menu-about{
        font-size: 15px;
           margin-right: -5px;
  
    }
    
     a#menu-skill{
        font-size: 15px;
            margin-right: -5px;
         
    }
     a#menu-career{
        font-size: 15px;
        margin-right: -5px;
          
    }
     a#menu-contact{
        font-size: 15px;
            margin-right: -5px;
         
        
    }
    
    h2{
        font-size: 20px;
    }
    
    h3.foot-text{
    background-color: #585052;
    color: #9A9A9A;
font-family: Georgia, "Malgun Gothic", serif;
    font-style: oblique;
    font-size: 5px;
    padding-top: 0.5rem;
text-align: center;
    display: block;
    margin: 0;
}
    
    

}

