html{
         overflow-x: hidden;
   overflow-y: auto;
  
}

.fadeinleft {
    opacity:0;
    margin-left:-300px;    
    max-width:100%;
}


section{
    display: block;

}




}
a.logo{
    font-size: 24px;
    color: #FFE3BE;
}

.fade
{
    opacity:0;
}


#menu-about:hover{
    color:#7C6E70;
}
#menu-skill:hover{
    color:#7C6E70;
}

#menu-career:hover{
    color:#7C6E70;
}

#menu-contact:hover{
    color:#7C6E70;
}


body{
    margin: 0;
    padding: 0;
/*     padding-top: 75px;*/
    
    
     overflow-x: hidden;
       overflow-y: auto;
  
    
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 1vh;
 
    padding: 1.5rem;
    background: black;
    opacity: 0.7;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    


}


p{
    display: block;
    

}

a{
    text-decoration: none;
   color: #D0C9CA;
    font-size: 1.2vw;
    margin: 1rem;
}


h1{
        display: block;

}

h2{

    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
        color: #353031;
}



.logo{
    text-decoration: none;
 
    font-size: 1.5vw;   
}

div.txt{
 margin-left: 0;
    align-items: center;
}

div{
    display: block;
}


div.container-main{
    
}

.container-main{
  
    display: flex;
    height: 100%;
    width: 100%;
    color: white;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
        overflow-x: hidden;
       overflow-y: auto;
/*    background-image: url("/test/image/main-image.jpg")*/
        
       
}

section.about.section{
margin-left: 10rem;
    margin-top:-1rem;
    
    
    
}


h1.hedding{
   margin-left: 10rem; 
}

h1.hedding2{
    margin-bottom: 3rem;
}

.about{
    height: 100%;
    width: auto;
    margin: 0 auto;
    text-align: left;
    margin-left: 6rem;
    margin-top: 2rem;
    margin-right: 0;
    padding-top: 2.5rem;
    padding-bottom: 3rem;
    background-color: #fff;
    
    
}

.skill{

    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
    background-color: #EAE7E8;
    
    
}

.career{

    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 2.5rem;
    background-color: #B6A9AB;
    
    
}


.contact{

    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 5rem;
    margin-bottom: 0;
    background-color: #7C6E70;
    
    
}



h3{
    color: #353031;
}



.skill-container{

    text-align: center;
    display: inline-block;
    width: 114px;
    height: 116px;
    border-radius: 30px 30px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 2rem;
    box-shadow: 0 3px 6px rgba(0,0,0,.2), 0 3px 6px rgba(0,0,0,.2);

}

div.foot-area{
    background-color: #585052;
    height: 2rem;
align-content: center;
    
}


h3.foot-text{
    background-color: #585052;
    color: #9A9A9A;
font-family: Gothic, "Malgun Gothic", serif;
    font-style: oblique;
    font-size: 13px;
    padding-top: 0.5rem;
text-align: center;
    display: block;
    margin: 0;
}

h1.hedding2.contact{
    color: #3F3839;
     margin-bottom: -3rem;
}


h2.contact-email{
   color: #C1B6B7; 
/*    margin-bottom: -5rem;*/
}

h2.contact-download{
   color: #C1B6B7; 
    font-family: Gothic, "Malgun Gothic", serif;
/*    font-style: oblique;*/
    font-size: 20px;
    text-decoration: underline;
/*    margin-bottom: -5rem;*/
}

.skill-box{
    padding-bottom: 4rem;
}
p.typing-txt{
    display: none;
}
  

#download-a:hover{
    color: #585052
        
}

#download-b:hover{
    color: #585052
        
}




.typing {  
/*       position: absolute; */
     display: inline-block; 
      animation-name: cursor; 
      animation-duration: 0.3s; 
      animation-iteration-count: infinite; 
 font-weight: bold;
    font-size: 4vw;
    white-space: pre;
    line-height: 1;
    letter-spacing: .1rem;
}
    @keyframes cursor{ 
      0%{border-right: 1px solid #fff} 
      50%{border-right: 1px solid #000} 
      100%{border-right: 1px solid #fff} 
        
    }